.parkReviewContainer {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.reviewForm {
    margin-bottom: 20px;
}

.reviewTextarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: vertical; /* Allows vertical resizing */
    overflow-y: auto; /* Adds scroll when content overflows */
    box-sizing: border-box; /* Ensures padding is included in height calculation */
    word-wrap: break-word; /* Makes sure words wrap to the next line */
    white-space: pre-wrap; /* Makes sure the text is wrapped properly and spaces/newlines are preserved */
}

.ratingInput {
    width: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submitBtn {
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.submitBtn:hover {
    background-color: #017e69;
}

.reviews {
    margin-top: 20px;
}

.review {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.reviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.userId {
    font-size: 12px;
    color: gray;
}

.reviewActions {
    display: flex;
    align-items: center;
}

.editBtn, .deleteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #4CAF50;
    font-size: 18px;
}

.editBtn:hover {
    color: #45a049;
}

.deleteBtn {
    color: #f44336;
}

.deleteBtn:hover {
    color: #e00000;
}

.error {
    color: red;
    text-align: center;
}

.editForm {
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
}
