/* review.module.css */
.reviewContainer {
    padding: 1.25rem;
    text-align: center;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: .125rem .125rem .313rem rgba(0, 0, 0, 0.1);
}

.reviewForm input,
.reviewForm textarea,
.reviewForm button {
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid #ccc;
}

.reviewForm input,
.reviewForm textarea {
    font-size: 1rem;
    width: 100%;
}

.reviewForm button {
    background-color: #004d40;
    color: white;
    border: none;
    cursor: pointer;
}

.reviewForm button:hover {
    background-color: #149f88;
}