/* ParkQuest Name */
#website-name {
  color: white;
  font-size: 3rem;
}
/* Header */
header {
  /* flex: 0 1 auto;  */
  background: #004d40; /* Example color */
  color: white;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 2.188rem;
}

/* First Page */
.first-page {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: calc(100vh - 70px);
}

.outline-button {
  background-color: transparent;
  color: rgba(0, 140, 0, 1);
  font-size: .875rem;
  padding: .625rem 1.125rem;
  border-radius: .313rem;
  border: .125rem solid rgba(0, 140, 0, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.outline-button:hover {
  background-color: rgba(0, 140, 0, 1);
  color: white;
}

.outline-button:focus {
  outline: none;
  box-shadow: 0 0 0 .188rem rgba(0, 113, 0, 0.5);
}

.account-forms {
  display: flex;
  flex-direction: column; /* Stack the input elements vertically */
  align-items: center;      /* Center input fields and button horizontally */
  padding: 1.25rem;
  border: .125rem solid #ccc;
  border-radius: .625rem;
  width: 18.75rem;             /* Set a width for the form */
}

form {
  display: flex;
  flex-direction: column; /* Stack the input elements vertically */
  align-items: center;
}

input {
  font-size: .875rem;
  padding: .625rem 1.125rem;
  border-radius: .313rem;
}

/* Login Signup Logout Button */
.account-button {
  background-color: rgba(238, 245, 238, .75);
  color: rgba(0, 140, 0, 1);
  font-size: .875rem;
  padding: .625rem 1.125rem;
  border-radius: .313rem;
  border: .125rem solid rgba(0, 140, 0, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.account-button:hover {
  background-color: rgba(0, 140, 0, 1);
  color: rgba(238, 245, 238, .75);
}

.account-button:focus {
  outline: none;
  box-shadow: 0 0 0 .188rem rgba(0, 113, 0, 0.5);
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  color: rgba(238, 245, 238, .75);
}

a:active {
  color: rgba(238, 245, 238, .75);
}


.not-transparent-links {
  color: darkgreen;
  text-decoration: none;
}

.not-transparent-links:hover {
  color: black;
}

.not-transparent-links:active {
  color: black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}
