/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* First Page */
.first-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Parks list */
.park-list h2{
  margin-top: 100px;
}