.parkDetails {
  padding: 1.25rem 2.188rem;
  text-align: center;
  background-color: rgba(238, 245, 238, .75);
}

.parkBtn {
  margin: 0 5px 30px 5px;
  background-color: #004d40;
  font-size: .875rem;
  padding: .5rem 1rem;
  border-radius: .313rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

#parkBtn {
  margin: 0 5px 30px 5px;
  background-color: #004d40;
  font-size: .875rem;
  padding: .5rem 1rem;
  border-radius: .313rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.parkBtn:hover{
  background-color: #017e69;
}

.linkBtn {
  color: white;
}

.carouselWrapper {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  margin: 0 auto;
  height: 25rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carouselItem {
  scroll-snap-align: start;
  height: 350px
}

.carouselItem img {
  width: 30rem;
  height:20rem;
  object-fit: cover;
}

figcaption {
  font-style: italic;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.5rem 3rem 0.5rem;
  user-select: none;
  color: #b0b0b0;
}

.arrow:hover {
  color: #444343;
}

.description {
  margin-top: 20px;
  text-align: justify;
  line-height: 150%;
}

.parkUrl {
  text-align: left;
  margin: 5px 0 30px 0;
  color: #015f4f;
}

.parkUrl a {
  color: #015f4f;
  font-weight: bold;
}

.parkUrl a:hover {
  color: #149f88;
}

.parkDetails h3 {
  text-align: left;
  margin-top: 20px;
}

.activities {
  text-align: justify;
  line-height: 150%;
}

.address {
  text-align: left;
  line-height: 150%;
}