.parkDetails {
  padding: 1.25rem 2.188rem;
  text-align: center;
  background-color: rgba(238, 245, 238, .75);
}

.parkBtn {
  margin: 0 5px 30px 5px;
  background-color: #004d40;
  font-size: .875rem;
  padding: .5rem 1rem;
  border-radius: .313rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.parkBtn:hover{
  background-color: #017e69;
}

.linkBtn {
  color: white;
}

.parkDetails img {
  width: 30rem;
  padding-top: 1.25rem;
}

figcaption {
  font-style: italic;
}

.description {
  margin-top: 20px;
  text-align: justify;
  line-height: 150%;
}

.parkUrl {
  text-align: left;
  margin: 5px 0 30px 0;
  color: #015f4f;
}

.parkUrl a {
  color: #015f4f;
  font-weight: bold;
}

.parkUrl a:hover {
  color: #149f88;
}

.parkDetails h3 {
  text-align: left;
  margin-top: 20px;
}

.activities {
  text-align: justify;
  line-height: 150%;
}

.address {
  text-align: left;
  line-height: 150%;
}
