.trailsList {
  padding: 1.25rem;
  text-align: center;
  background-color: rgba(238, 245, 238, .75);
  height: 100vh;
}

.trailsList h1{
  margin-bottom: 15px;
}

.trailsList h2{
  padding-bottom: 5px;
}

.trailsList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .938rem;
  text-align: justify;
  line-height: 150%;
}

.trailsList li {
  background: #f4f4f4;
  padding: .938rem;
  border-radius: .5rem;
  box-shadow: .125rem .125rem .313rem rgba(0, 0, 0, 0.15);
}

.trailsList a {
  color: #015f4f;
  font-weight: bold;
  padding-bottom: 20px;
}

.trailsList a:hover {
  color: #149f88;
}